body {
   color: black;
 }
 img {
   border: 10px double #6B5B95;
   width: 300px;
 }
 *{
   box-sizing: border-box;
 }
 html {
  font-size: small;
  color: black;
}
#ex1 {
  background-color: yellow;
  color: black;
}
div {
    width: 300px;
    height: 50px;
    background: grey;
    position: relative;
}
@keyframes mymove {
    from {left: 0px;}
    to {left: 600px;}
}
h1 {
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-size: 50px;
    border: 1px solid grey;
    background-color: #D2B48C;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    font-family: 'Lobster', cursive;
}
h2 {
    text-align: left;
    text-transform: uppercase;
    color: black;
    font-size: 18px;
    background-color: #C0AB8E;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 80px;
    font-family: Helvetica
}
h3 {
    text-align: left;
    text-transform: uppercase;
    color: black;
    font-size: 15px;
    background-color: #C0AB8E;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 80px;
    font-family: Helvetica
}
p {
    text-align: justify;
    font-size: 16px;
    color: black;
    font-family: Helvetica
}
nav {
    font-size: 16px;
    color: black;
    font-family: Helvetica
}
address {
    font-size: 16px;
    color: black;
    font-family: Helvetica
}
blockquote {
    font-size: 16px;
    color: black;
    font-family: Helvetica;
}
form {
    font-size: 16px;
    color: black;
    font-family: Helvetica
}
details {
    font-size: 16px;
    background-color: black;
    color: white;
    font-family: Helvetica
}
footer {
    font-size: 16px;
    background-color: black;
    color: white;
    font-family: Helvetica
}
#customers {
    font-family: Helvetica;
    border-collapse: collapse;
    width: 100%;
}
#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
#customers tr:nth-child(even){background-color: #4CAF50;
}
#customers tr:hover {background-color: #4CAF50
}
#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
img {
    float: right;
}
 body {
     background-color: white;
 }
 section {
     background-color: #D2B48C;
     width: 1000px;
     border: 25px solid green;
     padding: 25px;
     margin: 25px;
 }
 article{
   /*border: 2px solid red;*/
   float: left;
 }
 .main-article{
   width: 70%;
 }
 .side-bar-article{
   width: 30%
 }
 .flex-container{
   display: flex;
   border: 2px dotted gray;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
 }
 .seattle{
   background-color: pink;
   font-style: italic;
   font-family: fantasy;
   text-align: center;
 }
 .bellevue{
   background-color: blue;
   font-style: italic;
   font-family: fantasy;
   text-align: center;
 } .redmond{
    background-color: yellow;
    font-style: italic;
    font-family: fantasy;
    text-align: center;
  }
