*{
  font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: silver;
}
h1{
  font-size: 40px;
  text-align: center;
}
h2{
  font-size: 25px;
  font-family: 'Patrick Hand', cursive;
  text-align: center;
}
h3{
  text-align: center;
  color: black;
}
h4{
  text-align: center;
  font-size: 20px;
}
main {
    background-color: lightgray;
    overflow: auto;
  }
footer{
    background-color: lightblue;
    overflow: auto;
    clear: both;
  }
  .site-nav{
    width: 100%;
    background-color: gray;
  }
  .site-nav a{
    color: white;
    text-decoration: none;
  }
  .site-nav ul{
    list-style-type: none;
    padding-left: 0;
  }
  .site-nav a{
    color: white;
    text-decoration: none;
  }
  
  .site-nav li{
    display: inline-block;
    position: relative;
    font-size: 1rem;
    padding: .5rem 2.5rem;
  }
  .site-nav li:hover{
  background-color: black;
  }
  .site-nav ul.drop-down{
    display: none;
    min-width: 10rem;
    background-color: lightgray;
    top: 2.1rem;
    left: 0;
    position: absolute;
  }
  .site-nav >ul> li:hover ul.drop-down{
    display: block;
  }
  .site-nav ul.drop-down li{
   display: block;
   width: 100%;
   padding:.5rem 1rem;
  }
  
  .site-nav ul.drop-down a{
    color: black;
  }
  .site-nav ul.drop-down li:hover a{
    color: white;
  }
  article{
      float: left;
    }
  blockquote{
    font-family: 'Patrick Hand', cursive;
  }
  .main-column{
      width: 60%;
    }
  .side-column{
      width: 37%;
      font-family: 'Patrick Hand', cursive;
      font: white;
      background-color: darkgrey;
    }
  .wrapper{
        margin: 0 auto;
        max-width: 1000px;
        overflow: auto;
      }
 .flex-container{
   display: flex;
   border: 2px dotted gray;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
 }
.seattle{
    background-color:darkred;
    font-style: italic;
    font-family: fantasy;
    text-align: center;
}
.bellevue{
    background-color: darkorchid;
    font-style: italic;
    font-family: fantasy;
    text-align: center;
}
.magnolia{
          background-color: orange;
          font-style: italic;
          font-family: fantasy;
          text-align: center;
        }
  .medina{
    background-color: gold;
    font-style: italic;
    font-family: fantasy;
    text-align: center;
  }
  .clyde-hill{
    background-color: green;
    font-style: italic;
    font-family: fantasy;
    text-align: center;
  }
  .redmond{
     background-color: red;
     font-style: italic;
     font-family: fantasy;
     text-align: center;
   }
   .kirkland{
     background-color: pink;
     font-style: italic;
     font-family: fantasy;
     text-align: center;
   }
   .issaquah{
     background-color: yellow;
     font-style: italic;
     font-family: fantasy;
     text-align: center;
   }
  .providence-point{
      background-color: orange;
      font-style: italic;
      font-family: fantasy;
      text-align: center;
  }
  .sammamish{
      background-color: gold;
      font-style: italic;
      font-family: fantasy;
      text-align: center;
  }
html {
       background: url(greatimage.jpg);
       background-size: 300px 100px;
     }
a{
     text-decoration : none;
     }
a:visited {
color:white;
}
a:hover{
  font-weight: bold;
  border: 3px orange;
}
div[class^="card"]{
  width: 4rem;
  border: 1px solid red;
  box-shadow: 3px 3px 5px gray;
}
div.card-bold{
  box-shadow: 3px 3px 8px black;
}
p:nth-child(3n){
  color: black;
}
#delay {
  font-size: 14px;
  transition-property: font-size;
  transition-duration: 4s;
  transition-delay: 2s;
}
#delay:hover {
  background-color: green;
  font-size: 36px;
}

.grid div:nth-child(even){
  background-color:lightsalmon;
}
.grid div:nth-child(odd){
  background-color: white;
  font: darkgrey;
}
p::first-letter{
  font-size: 1rem;
  color: black;
}
